<section class="artistpage">
    <div class="search">
    <h1>Artists Directory</h1>
    <label>search:</label>
    <input type="text" placeholder="type a letter to findout" ng-model="query">

    <label class="formgroup">by:
        <select ng-model="artistsOrder">
            <option value="name" selected>Name</option>
            <option value="reknow">Reknow</option>
        </select>
    </label>

    <label class="formgroup">Ascend
        <input type="radio" ng-model="direction"  name="direction" checked>
    </label>
    <label class="formgroup">Descend
        <input type="radio"   ng-model="direction"  name="direction" value="reverse">
    </label>

    <label class="formgroup">limit:
        <input type="number" max={{artists.length}} min="1" ng-model="limi" value="1">
    </label>
     <label class="formgroup">Uppercase:
        <input type="checkbox"   ng-model="upper" value="uppercase">
    </label>
</div>
<ul class="artistlist">
    <li class="artist cf" ng-repeat="item in artists | filter:query | orderBy:artistsOrder:direction | limitTo:limi" >
        <a href="#details/{{artists.indexOf(item)}}" >
            <img ng-src="/images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}" >
            <!--这个img  里面如果使用src，会报错，因为页面载入，在Angular还未读取
                {{item.shortname}}  之前，html已经被parser解析，并根据这个地址去取图片了，
                但是这个地址并不是图片而是一个需要被重新定义的holder，所以需要使用ng-src
            -->
            <div class="info">
                <h2>{{item.name | uppercase}}</h2>
                <h3>{{item.reknow}}</h3>
                <h4>{{item.bio.substr(0,20)}}</h4>
            </div>
        </a>
   </li>
</ul>
</section>
